<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/menu %>
    <div class="features-boxed">
      <div class="container">
          <div class="intro">
              <h2 class="text-center">My Garage</h2>
              <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
          </div><button class="btn btn-primary" type="button">Enter Profile</button>
          <div class="row justify-content-center features">
              <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box"><i class="fa fa-map-marker icon"></i>
                      <h3 class="name">Supplier Management&nbsp;</h3>
                      <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="/createsupplier" class="learn-more">Add»</a></div>
              </div>
              <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box"><i class="fa fa-clock-o icon"></i>
                      <h3 class="name">Parts Management</h3>
                      <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="/createpart" class="learn-more">Add»</a></div>
              </div>
              <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box"><i class="fa fa-list-alt icon"></i>
                      <h3 class="name">Vehicle Management</h3>
                      <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="/createformV" class="learn-more">Add »</a></div>
              </div>
              <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box"><i class="fa fa-leaf icon"></i>
                      <h3 class="name">Employee Management</h3>
                      <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Add »</a></div>
              </div>
              <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box"><i class="fa fa-plane icon"></i>
                      <h3 class="name">Invoice Manangement</h3>
                      <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Add»</a></div>
              </div>
              <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box"><i class="fa fa-phone icon"></i>
                      <h3 class="name">Update Profile</h3>
                      <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="/updateform" class="learn-more">Add»</a></div>
              </div>
          </div>
      </div>
  </div>
  <div class="projects-horizontal"></div>
    
  </body>
  <% include partials/script %>
</html>
