<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <form action='../<%=Profile._id %>/update' method='POST'>
      <input type='text' name='username' placeholder="username" required value='<%=Profile.username %>'><br>
      <input type="text" name='password' placeholder="password" required value='<%=Profile.password %>'><br>
      <input type="submit" value="Update Profile">
    </form>
  </div>
</div>
</body>
<% include partials/script %>
</html>